body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #eeeeee;
}
.container {
  border: 2px solid black;
  height: 960px;
  width: 960px;
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;
  border-radius: 6px;
}

.square, .hovered {
  box-sizing: border-box;
  border: 1px solid #d1d1d1;
  flex-grow: 1;
} 

button {
  font-size: 24px;
  padding: 20px 30px;
  margin: 20px 10px;
  background-color: rgb(96, 144, 189);
  border-radius: 10px;
  color: #222222;
}